Debug/
Release/
.vs/
x64/
mtgl/Debug
mtgl/Release
mtgl/x64
*.user
*.obj
*.exe
*.dll
*.lib
*.recipe
*.ilk
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.o
example/bin/*
mtgl/src/GL/*
example/dependencies/include/KHR/*